LINEPULSE_SVC_PROJECT_NAME="Python Example - Acerta boilerplate"
LINEPULSE_SVC_SERVER_NAME=localhost
LINEPULSE_SVC_SERVER_HOST=http://localhost
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_SERVER=localhost:5432
DATABASE_URI=postgresql+psycopg2://postgres:postgres@localhost:5432/postgres
LINEPULSE_SVC_FIRST_SUPERUSER=test@gmail.com
LINEPULSE_SVC_FIRST_SUPERUSER_PASSWORD=123
LINEPULSE_SVC_SENTRY_DSN=http://127.0.0.1
